
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: overlay;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#39B54A,#00ff2265);
    border-radius: 20px;
}

#banner {
	width:20%;
}
.principal{
	background: #39B54A;
	padding:90px;
}
.sobrenos{padding-left: 35px;

}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FFFFFF;
}

.itens {
	font-style: italic;
    font-size: 24px;
    margin: 0 1.5%;
    padding: 8px 17px;
    box-sizing: border-box;
    border: #00ff2265 1px solid;
    border-radius: 3px;

    
}
.itens:hover {
    border-color: #FFFFFF;
}
.itens:active {
    border-color: #088C19;    
}
.itens:hover {
    font-size: 34px;}

.beneficios {
	background: #ffffff;
	padding: 15px;
}
 




ul {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	
}


.comidaboa{
 
text-align: left;
width: 26%;
top: 56%;
padding-left: 2%;
margin:30px;


}

.academia{
width: 30%;
text-align: right;
margin:30px;





}

body{
    font-family: Verdana;}

body {
		background-color: #FFFFFF;
	}